# 忽略所有 __pycache__ 目录
*/__pycache__/
__pycache__/

# 忽略 tests/ 下的 __pycache__ 和 .pyc 文件
tests/__pycache__/
*.pyc
*.pyo
*.pyd

# 其他常见的Python忽略项
*.egg-info/
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg
MANIFEST

# 环境相关
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
node_modules/
# Environment variables
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific
.DS_Store

# Task files
# tasks.json
# tasks/ 
